:root {
    /* fonts */
    --font-open-sans: "Open Sans";
    --font-pretty-magnolia: "magnolia";
    --font-inter: Inter;
    --font-allan: Allan;
    --font-amatic-sc: "magnolia";
    --font-akaya-kanadaka: "Akaya Kanadaka";
    --font-akaya-telivigala: "Akaya Telivigala";
  
    /* font sizes */
    --font-size-2xs: 14px;
    --font-size-xs: 15px;
    --font-size-sm: 16px;
    --font-size-base: 17px;
    --font-size-lg: 26px;
    --font-size-xl: 46px;
    --font-size-2xl: 47px;
    --font-size-3xl: 50px;
    --font-size-4xl: 53px;
  
    /* Colors */
    --color-teal: #006b8b;
    --color-teal-100: #00abd7;
    --color-teal-200: #006b8b;
    --color-gray-100: #ebf8ff;
    --color-gray-200: #d6d6d6;
    --color-gray-300: #565656;
    --color-gray-400: #535353;
    --color-gray-500: #484949;
    --color-white: #fff;
    --color-black: #000;
    --color-indigo: #2b559f;
  
    /* border radiuses */
    --br-sm: 10px;
    --br-md: 20px;
    --br-lg: 50px;
  }
  
  @font-face {
    font-family: magnolia;
    src: url('../fonts/Pretty\ Magnolia.ttf');
  }
  
  .btn:hover {
    opacity: 90% !important;
  }
  
  .bg-img-icon,
  .bg-mask-div {
    position: absolute;
    left: 4.73%;
  }
  .bg-img-icon {
    width: 100%;
    top: calc(50% - 77.5px);
    right: -4.73%;
    max-width: 100%;
    overflow: hidden;
    height: 1406.31px;
    object-fit: cover;
  }
  .bg-mask-div {
    height: 55.36%;
    width: 90.91%;
    top: 44.64%;
    right: 4.36%;
    bottom: 0;
    background-color: var(--color-teal-200);
    opacity: 0.8;
  }
  .bg-div {
    position: absolute;
    width: 110%;
    top: calc(50% - 1020.5px);
    right: -4.8%;
    left: -5.2%;
    height: 1445px;
  }
  .company-logo,
  .logo-img-icon {
    position: absolute;
    width: 40px;
    height: 38px;
  }
  .logo-img-icon {
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .company-logo {
    text-decoration: none;
    top: 36px;
    left: 64px;
  }
  .sign-up-box-div {
    position: absolute;
    top: 12.82px;
    right: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 100px;
    height: 32.94px;
  }
  .sign-up-a,
  .sign-up-div {
    position: absolute;
    height: 53px;
  }
  .sign-up-div {
    top: 0;
    right: 25px;
    line-height: 57px;
    font-weight: 600;
    display: inline-block;
    width: 51px;
  }
  .sign-up-a {
    text-decoration: none;
    top: 21px;
    right: 64px;
    width: 100px;
    color: inherit;
  }